# Forçar reconhecimento de arquivos R
*.R linguist-language=R

# R Markdown conta como documentação
*.Rmd linguist-documentation

# Arquivos de saída não contam
*.html linguist-vendored
*.pdf linguist-vendored

# Arquivo de dados não conta
*.data linguist-vendored

# Documentação
*.md linguist-documentation
